*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;
    margin: 0;
     
    padding: 0;
}



header{
   height: 80px;
    display: flex;
    background: #ffffffc4;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #cec9c9;
}
.myntra_home{
    height: 43px;
   
}
.logo_container{
    margin-left:2% ;
}

.nav{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;  
    text-decoration: none;
    padding: 28px 0 ;
    border-bottom:4px solid #ffffffc4;
    
    
}
/*link line cut*/
.nav a:hover{
    border-bottom:4px solid #ff3f6c;
}

.nav a sup{
    color: #ff3f6c;
    font-size: 10px;
}




.search_bar{
    height:37px ;
    min-width: 400px;
    display: flex;
    align-items: center;


}

.search_icon{
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background: #f5f5f6; 
    color: #282c3f;
    font-weight: 300;
    border-radius: 7px 0 0 7px;


}

.search{
    color: #696e79;
   background: #f5f5f6; 
   flex-grow: 1;
   height: 40px;
   border: 0;
   border-radius: 0 7px 7px 0;
}

.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*main section started*/

.banner_container{
    margin: 40px;
}

.banner_image{
    width: 100%;
}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px ;
    font-weight: 700px;
    max-height: 5cm;

}

.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sale_item{
    width: 200px;

}

/*footer container*/

.footer_container{
    padding: 30px 0 40px 0;
    background:#fafbfc;
    display: flex;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a{
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.copyright{
    color:#94969f ;
    text-align: end;
    padding: 15px;
}







